@tailwind base;
@tailwind components;
@tailwind utilities;

.messages-list {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.messages-list::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
